{% extends "main/base.html" %}
{% load static %}

{% block content %}
                        <!-- Контент на странице -->
                    <div class="row">
                        <!-- Форма фильтров -->
                        <div class="dropdown mb-2">
                            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Фильтры
                            </button>

                            <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on">
                                    <input type="hidden" name="q" value="request.GET.q">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Товары по акции
                                    </label>
                                </div>
                                <p class="text-white mx-3 mt-3">Сортировать:</p>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        По умолчанию
                                    </label>
                                </div>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        От дешевых к дорогим
                                    </label>
                                </div>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price">
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        От дорогих к дешевым
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                            </form>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/01-sborka-el-shitov.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="../goods/product.html">
                                        <p class="card-title">Модульный щит всборе</p>
                                    </a>
                                    <p class="card-text text-truncate">Модульный щчит всборе автоматика, защита управления.</p>
                                    <p class="product_id">id: 01</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>775</s> $</p>
                                        <p><strong>650.00 $</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn add-to-cart">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/bolshoj-obzor-shchita-umnogo-doma-2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Большой модульный щит всборе</p>
                                    </a>
                                    <p class="card-text text-truncate">Большой модульный щит, с дополнительной секцией.</p>
                                    <p class="product_id">id: 02</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>990</s> $</p>
                                        <p><strong>810 $</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка  %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn add-to-cart">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/розетки.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title"></p>
                                    </a>
                                    <p class="card-text text-truncate">Розетки.</p>
                                    <p class="product_id">id: 03</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>100</s> $</p>
                                        <p><strong>90.00 $</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/legrand-smart-home-iphones-ru.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title"></p>
                                    </a>
                                    <p class="card-text text-truncate">Розетки для умного дома.</p>
                                    <p class="product_id">id: 04</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>120</s> $</p>
                                        <p><strong>101 $</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/legrand-smart-home-iphones-ru-6.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Выключатели для умного дома</p>
                                    </a>
                                    <p class="card-text text-truncate">Выключатели для умного дома белые.</p>
                                    <p class="product_id">id: 05</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>120</s> $</p>
                                        <p><strong>101.00 $</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка  %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/CHernye-vyklyuchateli-Xiaomi.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Выключатели для умного дома черные</p>
                                    </a>
                                    <p class="card-text text-truncate">Выключатели Умный дом</p>
                                    <p class="product_id">id: 06</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>130</s> $</p>
                                        <p><strong>115 $</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка  %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/1-2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Люстры для умного дома.</p>
                                    </a>
                                    <p class="card-text text-truncate">Люстры с поддержкой Алисы, Google, II.</p>
                                    <p class="product_id">id: 07</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>345</s> $</p>
                                        <p><strong>230 $</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/thumb600_84494700-1703668221.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Люстра Премиум Люкс.</p>
                                    </a>
                                    <p class="card-text text-truncate">Люстра LUX</p>
                                    <p class="product_id">id: 08</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s> 2300 </s> $ </p>
                                        <p><strong> 2100 $ </strong></p>
                                        <span class="badge bg-warning text-dark"> Скидка  %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/1695853-1024x683.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Оборудование для умного дома</p>
                                    </a>
                                    <p class="card-text text-truncate">Доп Оборудование для умного дома .</p>
                                    <p class="product_id">id: 09</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>156</s> $</p>
                                        <p><strong>139.00 $</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/Xiaomi_smarthome.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Оборудование для умного дома с дополнением</p>
                                    </a>
                                    <p class="card-text text-truncate">Оборудование для умного дома с дополнением.</p>
                                    <p class="product_id">id: 010</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>100</s> $</p>
                                        <p><strong>90.00 $</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка  %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/dremel-payalnik.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Инструменты</p>
                                    </a>
                                    <p class="card-text text-truncate">Инструменты для монтажных работ.</p>
                                    <p class="product_id">id: 02265</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>200</s> $</p>
                                        <p><strong>182.00 $</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Карта товара -->
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                <img src="../deps/images/goods/IMG_1023-e1438459686607.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <a href="#">
                                        <p class="card-title">Инструменты</p>
                                    </a>
                                    <p class="card-text text-truncate">Чемодан с инструментами.</p>
                                    <p class="product_id">id: 02265</p>
                                    <div class="d-flex justify-content-between">
                                        <p><s>510</s> $</p>
                                        <p><strong>402.00 $</strong></p>
                                        <span class="badge bg-warning text-dark">Скидка %</span>
                                        <!-- <p><strong>100.00 $</strong></p> -->
                                        <a href="#" class="btn">
                                            <img class="mx-1" src="../deps/icons/cart-plus.svg" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Пагинация -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center my-4">
                            <div class="custom-shadow d-flex">
                                <li class="page-item disabled">
                                  <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#">Next</a>
                                </li>
                            </div>
                        </ul>
                    </nav>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Selivanov Miroslav &copy; </p>
        </div>
    </footer>
{% endblock %}